<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado <%= @user.name %>: </h1>
    <p>
    Se ha validado su petición de cambio de contraseña. El siguiente paso es hacer click en el link para terminar el proceso.
    <%= @url + @user.reset_password_token %> . Si esta cuenta no pertenece a ud., ignore el correo.
    </p>
    <p>Gracias por preferirnos.</p>
  </body>
</html>