<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Money4me, <%= @user.name %></h1>
    <p>
      Te has registrado de forma exitosa en money4me.cl,
      usando el email: <%= @user.email %>.<br>
    </p>
    <p>
      Para ingresar al sitio, sigue el siguiente link: <%= @url %>.
    </p>
    <p>Gracias por preferirnos.</p>
  </body>
</html>