<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""> Money4Me </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Inicio </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!signedIn"><a href="/empresa_sign_up"><span class="glyphicon glyphicon-stats"></span> Registrar empresa</a></li>
        <li ng-if="!signedIn"><a href="/pay_bill"><span class="glyphicon glyphicon-usd"></span> Pagar Cuenta </a></li>
        <li ng-if="!signedIn"><a href="/sign_up"><span class="glyphicon glyphicon-user"></span> Registrarse </a></li>
        <li ng-if="!signedIn" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Ingresar </a>
          <ul class="dropdown-menu" role="menu">
            <form ng-submit="signIn(user)" role="form" class="login-form">
              <div class="form-group">
                <label for="InputEmail">Email</label>
                <input required ng-model="user.email" type="email" class="form-control login-input" id="InputEmail" 
                placeholder="ejemplo@money4me.cl">
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input required ng-model="user.password" type="password" class="form-control login-input" 
                id="InputPassword" placeholder="Contraseña">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Recordarme
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
              <center><a href="/password_recovery">Recuperar contraseña</a></center>
            </form>
          </ul>
        </li>
        <li ng-if="signedIn" class="divider-vertical"></li>
        <li ng-if="signedIn"><a href="/user_dashboard"> Usuario: {{currentUser.name}} </a></li>
        <li ng-if="signedIn" class="divider-vertical"></li>
        <li ng-if="signedIn"><a ng-click="signOut()"><span class="glyphicon glyphicon-log-out"></span> Salir </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
<div class="container">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<span us-spinner spinner-key="spinner0"></span>
<div ng-view=""></div>
