<div class="container">
	<span us-spinner spinner-key="spinner"></span>
	<tabset>
		<tab heading="Empresas">
			<ul class="list-group">
				<li class="list-group-item" align="right">
				Filtros: <label class="checkbox-inline"><input type="checkbox" ng-model="activeOption" ng-true-value="true" ng-false-value="" ng-change="currentPage=0;"> Empresas Activas </label>
				<label class="checkbox-inline"><input type="checkbox" ng-model="activeOption" ng-true-value="false" ng-false-value="" ng-change="currentPage=0;"> Empresas Inactivas </label>
				<center>P치gina {{currentPage+1}} de {{lastPage+1}}</center>
				</li>
				<li ng-repeat="company in ((filteredCompanies = (currentUser.companies | filter:{activa: activeOption}) | startFrom:currentPage*pageSize | limitTo: pageSize))" class="list-group-item list-group-item-{{company.activa ? 'success' : 'danger'}}">
					<label>{{company.nombre}}</label>
					<label style="float:right;"><button ng-disabled="company.activa && !company.company_user" class="btn btn-primary btn-small" ng-click="activate(company)" style="margin-top:-4px;">Activar</button></label>
					<label style="float:right;margin-right:5px;"><button class="btn btn-primary btn-small" ng-click="details(company)" style="margin-top:-4px;">Detalles</button></label>
				</li>
				<li class="list-group-item"> 
					<button class="btn btn-link" ng-disabled="currentPage==0" ng-click="currentPage=currentPage-1">
					<icon class="glyphicon glyphicon-chevron-left"></icon> Atras</button>
					<button class="btn btn-link" style="float:right;" ng-disabled="currentPage==lastPage" ng-click="currentPage=currentPage+1">Siguiente 
					<icon class="glyphicon glyphicon-chevron-right"></icon></button>
				</li>
			</ul>
		</tab>
		<tab heading="Acceso Usuarios">
			<ul class="list-group">
				<li ng-repeat="user in userRequests" class="list-group-item list-group-item-{{user.recovery ? 'danger' : 'warning'}} {{user.reset_password_sent_at ? 'list-group-item-success' : ''}}">
					<label style="width:30%;">ID Usuario: {{user.id}} </label>
					<label style="width:40%;">Petici칩n: {{(user.recovery ? 'Recuperar Contrase침a' : 'Cambiar Contrase침a')}} </label>
					<label>Estado: {{(user.reset_password_sent_at != null ? 'Validada' : 'Pendiente')}}</label>
					<label style="float:right;margin-right:5px;"><button class="btn btn-primary btn-small" ng-click="validateUserRequest(user)" style="margin-top:-4px;" ng-disabled="user.reset_password_sent_at != null">Validar</button></label>
				</li>
			</ul>
		</tab>
		<tab heading="Seguimiento Clientes">

		</tab>
	</tabset>
	<script type="text/ng-template" id="detailsModal.html">
		<div class="modal-header">
			<h4 class="modal-title">Detalles Empresa</h4>
		</div>
		<div class="modal-body">
			<p class="bg-info">Nombre Empresa: {{company.nombre}}</p>
			<p class="bg-info">RUT Empresa: {{company.rut_empresa}}</p>
			<p class="bg-info">Cuenta Bancaria: {{company.cuenta_banco}}</p>
			<p ng-if="!company.company_user" class="bg-danger"> No existe un usuario asociado a esta Empresa. </p>
			<p ng-if="company.company_user" class="bg-success">Nombre Admin: {{company.company_user.name}}</p>
			<p ng-if="company.company_user" class="bg-success">Email Admin: {{company.company_user.email}}</p>
			<p ng-if="company.company_user" class="bg-success">Rut Admin: {{company.company_user.rut}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" style="width:40%;" ng-click="close()">Cerrar</button>
		</div>
	</script>
</div>