<div class="container">
	<div class="row">
		<div class="col col-md-4 col-md-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"> Ingresa los Datos</h3>
				</div>
				<div class="panel-body">
					<span us-spinner spinner-key="spinner"></span>
					<form role="form" ng-submit="signUpCompany(empresa, company_user)">

						<label for="name">Nombre Empresa</label>
						<input required id="name" class="form-control" ng-model="empresa.nombre" type="text" placeholder="Ejemplo S.A.">

						<label for="rut_empresa">RUT empresa (sin puntos ni guión)</label>
						<input required id="rut_empresa" class="form-control" ng-model="empresa.rut_empresa" type="text"  placeholder="132456789">

						<label for="cuenta">Cuenta Banco</label>
						<input required id="cuenta" class="form-control" ng-model="empresa.cuenta_banco" type="number">

						<label for="rut">RUT Administrador</label>
						<input required id="rut" ng-model="company_user.rut" class="form-control" type="text" placeholder="12341234">

						<label for="email">Email Administrador</label>
						<input required id="email" ng-model="company_user.email" class="form-control" type="text" placeholder="ejemplo@money4me.cl">

						<label for="cname">Nombre Administrador</label>
						<input required id="cname" ng-model="company_user.name" class="form-control" type="text">

						<button role="submit" class="btn btn-block btn-primary" style="margin-top:20px;">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
