<div class="container">
	<div class="row">
		<div class="col col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"> Recuperación de Contraseña </h3>
				</div>
				<div class="panel-body">
					<span us-spinner spinner-key="spinner"></span>
					<form role="form" ng-submit="recover(user)">
						<p> Este proceso permite recuperar su contraseña. Un administrador validará la petición, 
						lo que puede tardar algunas horas. </p>
						<p> Se enviará un correo de confirmación con un token único. </p>
						<p> Siga el link incluido para recibir una contraseña temporal. </p>
						<label for="email">Email</label>
						<input required class="form-control" type="text" ng-model="user.email" placeholder:"ejemplo@money4me.cl">
						<label for="rut">RUT (sin puntos ni guión)</label>
						<input required id="rut" class="form-control" type="text" ng-model="user.rut" placeholder:"132456789">
						<label for="captcha">Captcha</label>
						<div grecaptcha ng-model="user.response" style="margin-left:21%;"></div>

						<button role="submit" class="btn btn-block btn-primary" style="margin-top:20px; width:50%; margin-left:25%;">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>