<div class="container">
	<div class="row">
		<div class="col col-md-4 col-md-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"> Ingresa tus Datos </h3>
				</div>
				<div class="panel-body">
					<span us-spinner spinner-key="spinner"></span>
					<form role="form" ng-submit="sign_up(user)">
						<label for="email">Email</label>
						<input required class="form-control" type="text" ng-model="user.email" placeholder:"ejemplo@money4me.cl">
						<label for="rut">RUT (sin puntos ni guión)</label>
						<input required id="rut" class="form-control" type="text" ng-model="user.rut" placeholder:"132456789">
						<label for="nombre">Nombre </label>
						<input required id="nombre" class="form-control" type="text" ng-model="user.name">
						<label for="password">Contraseña (mínimo 8 caracteres)</label>
						<input  required id="password" class="form-control" type="password" ng-model="user.password">
						<label for="password_confirmation">Repetir Contraseña</label>
						<input required id="password_confirmation" class="form-control" type="password" ng-model="user.password_confirmation">
						<button role="submit" class="btn btn-block btn-primary" style="margin-top:20px;">Registrarse</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>