<div class="container">
	<tabset>
	<span us-spinner spinner-key="spinner1"></span>
		<tab heading="Cuentas Activas">
			<accordion close-others="true">
				<accordion-group ng-repeat="bill in activeBills" heading="Cuenta ID: {{bill.id_propio_empresa}}">
					<p>Empresa: {{bill.empresa.nombre}}</p>
					<p>N° Cuenta: {{bill.empresa.cuenta_banco}}</p>
					<hr>
					<p>Fecha Facturación: {{bill.fecha_registro | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
					<p>Fecha Expiración: {{bill.fecha_limite | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
					<hr>
					<p>Monto: {{(bill.monto | currency:'$ ':0).split('.')[0].split(',').join('.')}}</p>
					<button class="btn btn-success" ng-click="addBillToPayment($index)">Pagar Cuenta</button>
				</accordion-group>
			</accordion>
			<div class="well well-sm" ng-if="activeBills.length==0">
				<center><h4>No tiene cuentas sin pagar.</h4><center>
			</div>
		</tab>
		<tab heading="Historial Pagos">
			<accordion close-others="true">
				<accordion-group ng-repeat="payment in currentUser.pagos" heading="Pago ID: {{payment.id_pago}}">
					<div ng-repeat="bill in payment.cuentas">
						<p>ID Cuenta: {{bill.id_propio_empresa}}</p>
						<p>Empresa: {{bill.empresa.nombre}}</p>
						<p>N° Cuenta: {{bill.empresa.cuenta_banco}}</p>
						<p>Fecha Facturación: {{bill.fecha_registro | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
						<p>Monto: {{(bill.monto | currency:'$ ':0).split('.')[0].split(',').join('.')}}</p>
						<hr>
					</div>
					<div>
						<h4>N° Cuentas: {{payment.cuentas.length}}</h4>
						<h4>Total: {{(getTotal(payment.cuentas) | currency:'$ ':0).split('.')[0].split(',').join('.')}}</h4>
					</div>
				</accordion-group>
			</accordion>
			<div class="well well-sm" ng-if="currentUser.pagos.length==0">
				<center><h4>No ha realizado pagos.</h4><center>
			</div>
		</tab>
		<tab heading="Pagar Cuentas">
			<accordion close-others="true">
				<accordion-group ng-repeat="bill in payment" heading="Cuenta ID: {{bill.id_propio_empresa}}">
					<p>Empresa: {{bill.empresa.nombre}}</p>
					<p>N° Cuenta: {{bill.empresa.cuenta_banco}}</p>
					<hr>
					<p>Fecha Facturación: {{bill.fecha_registro | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
					<p>Fecha Expiración: {{bill.fecha_limite | date:'dd-MM-yyyy @ HH:mm:ss'}}</p>
					<hr>
					<p>Monto: {{(bill.monto | currency:'$ ':0).split('.')[0].split(',').join('.')}}</p>
					<button class="btn btn-success" ng-click="removeBillFromPayment($index)">No Pagar</button>
				</accordion-group>
				<div ng-if="payment.length!=0" class="well" style="margin-top:5px;">
					<h3>N° Cuentas: {{payment.length}}</h3>
					<h3>Total: {{(getTotal(payment) | currency:'$ ':0).split('.')[0].split(',').join('.')}}</h3>
					<label>Cuenta Bancaria: </label>
					<select class="form-control" ng-model="currentAccount" ng-options="account.id_cuenta_banco for account in accounts" style="width:30%;">
					<option value="">-- Seleccione una Cuenta --</option>
					</select><br>
					<button class="btn btn-primary" ng-click="pay()">Pagar Cuentas</button>
				</div>
			</accordion>
			<div class="well well-sm" ng-if="payment.length==0">
				<center><h4>No ha agregado cuentas sin pagar.</h4><center>
			</div>
		</tab>
		<tab heading="Perfil">
			<div class="row" style="margin-top:20px;">
				<div class="col col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title"> Info </h3>
						</div>
						<div class="panel-body" style="height:200px;">
							<center style="margin-top:10px;">
								<p><strong>Nombre:</strong> {{currentUser.name}}</p>
								<p><strong>Email:</strong> {{currentUser.email}}</p>
								<p><strong>RUT:</strong> {{currentUser.rut}}</p>
								<p><strong>Pagos realizados:</strong> {{currentUser.pagos.length}}</p>
								<p><strong>Cuentas sin pagar:</strong> {{currentUser.unpaid_bills.length}}</p>
							</center>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title"> Cuentas </h3>
						</div>
						<div class="panel-body" style="height:200px;">
							<label>Cuentas Asociadas</label>
							<select class="form-control" ng-model="currentAccount" ng-options="account.id_cuenta_banco for account in accounts">
							<option value="">-- Seleccione una Cuenta --</option>
							</select>
							<form ng-submit="addAccount(new_account)" role="form" style="margin-top:30px;">
								<label>Agregar Cuenta</label>
								<div class="row">
									<div class="col col-sm-6">
										<input class="form-control input-sm" type="text" required ng-model="new_account">
									</div>
									<div class="col col-sm-6">
										<button class="btn btn-primary btn-block" role="submit"> Agregar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="panel panel-success">
						<span us-spinner spinner-key="spinner"></span>
						<div class="panel-heading">
							<h3 class="panel-title"> Acceso </h3>
						</div>
						<div class="panel-body" style="height:200px;">
							<center><button disabled class="btn btn-primary" style="margin-top:20px;margin-bottom:40px;"> Cambiar Contraseña </button></center>
							<center><button disabled class="btn btn-primary"> Asociar cuenta Facebook </button></center>
						</div>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>