<div class="container">
	<tabset>
		<tab heading="Cuentas Activas">
			<accordion close-others="true">
				<accordion-group ng-repeat="bill in activeBills" heading="Cuenta ID: {{bill.id_propio_empresa}}">

				</accordion-group>
			</accordion>
		</tab>
		<tab heading="Historial Pagos">

		</tab>
		<tab heading="Pagar Cuentas">

		</tab>
	</tabset>
</div>